.DashBoard {
    background-color: pink;
    text-align: center;
}

.Gallery {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }